@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');

:root{
    --bg: #F8F9FA;
    --accent: #A5D6A7;
    --text: #333333;
    --details: #E3F2FD;
    --hover: #03AF27;
    --blue-accent: #1E88E5;
    --hero: #1da678;
}

body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.swiper-button-next, .swiper-button-prev{
    color: var(--accent) !important;
}
.swiper-pagination-bullet{
    background-color: var(--hover) !important;
}

@import "tailwindcss";